@font-face {
	font-family : 'Courgette';
	src : url("../assets/police/Courgette-Regular.ttf")
}
body{
    font-family : 'Courgette';
}
.BG{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}