
.form-box{
    
    flex-direction: column;
    width : 80%;
    min-width : 340px;
    height: fit-content;
    border : solid 2px black;
    border-radius: 30px;
    background-color: rgb(0, 233, 233);
    color: rgba(1, 0, 75, 0.795);

}

.input-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    
}
label{

    font-weight: bold;
}
.time{
    width : 130px;
}
input {
    text-align: center;
    margin : 5px 10px ;
    padding : 5px;
    background-color: rgb(0, 233, 233);
    border: none;
    border-bottom: solid 2px rgb(4, 62, 252);

}
input[type=text]{
    
    border : none;
    border-bottom: 3px solid rgb(12, 1, 168);
}
.button:hover{
    font-weight: bold;
    

}
.button:active{
    color:white;
    box-shadow: 1px 2px grey;
}
.button{
    
    border :1px solid rgb(12, 1, 168);
    border-radius: 20px;
}
.checkbox{
    background-color: rgb(2, 253, 2);
    width: 50%;
    height: 30px;
    
}
input[type=submit]{
    background-color: rgb(255, 145, 0);
    width: 80%;
}

