.timer-box
{
    text-align: center;
}
.chrono{
    padding: 20px;
}
.chiffres-chronos{
    font-size: 80px;

}
.exe-remplace-chrono{
    font-size: 50px;

}
.button-play-pause{
    width : 20%;
    min-width: 150px;
    border : 0px ;

    background-color: inherit;
}
.button-play-pause:active{
    background-color: orange;
    width : 21%;
    border-radius: 100%;
}
.button-img{
    max-width: 100%;
}
.restart-button{
    width : 8%;
    min-width: 50px;
    border : 0px ;
    background-color: inherit;
     position: absolute;
     left : 10%;

}
.restart-button:active{
    background-color: orange;
    width : 9%;
    border-radius: 100%;
}
